.r1 {
    padding: 0.5rem; 
    background-image: linear-gradient(to right, var(--tw-gradient-stops)); 
    background-color: #2563EB;     
}
.r2 {
    padding: 5rem; 
    background-color: #1F2937; 
}
.r3 {
    margin-top: 0.5rem; 
    
}
.r4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    border-radius: 0.25rem; 
    font-family: Georgia, Cambria, "Times New Roman", Times, serif; 
    font-size: 1.875rem;
    line-height: 2.25rem; 
}
.r5{
    background-color: white;
    padding: 0.5rem; 
    border-radius: 0.25rem; 
    font-family: Georgia, Cambria, "Times New Roman", Times, serif; 
}

.r7{
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
    font-family: Georgia, Cambria, "Times New Roman", Times, serif; 
    background-color: #3B82F6; 
}